body{
    background-color: #e2e2e2;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
}
h1{
    color: #555555;
    font-size: 3.75em;
    
}
.tbl{
    color: #444444;
    font-size:180%;
}